Flask
pymongo
gunicorn
numpy
minio
pandas
fitz
flask-compress
werkzeug
requests
frontend
tools
fitz
pydantic-settings
tools
frontend
confluent-kafka==2.3.0
python-dotenv==1.0.0
pydantic==2.5.2
structlog==23.2.0
shortuuid
jsons
pytz
cryptography
uuid 
Flask-UUID 
pybase64
urllib3 
pyotp
pypdf
Pillow
PyPDF2